<div ng-controller="ArticleListCtrl" class="smart-table">
    <div ng-show="isInit" layout="row" layout-align="end">
        <md-button ng-show="category != null" ui-sref="app.article-management.new({catId: category})" class="md-raised btn orange-button login-button">
            <i class="material-icons">add</i>
            {{'ARTICLE_NEW' | translate }}
        </md-button>
    </div>
    <table st-table="displayedCollection" class="table table-striped" st-safe-src="article">
        <thead>
            <tr>
                <th st-sort="name">{{'ARTICLE_NAME' | translate }}</th>
                <th st-sort="name">{{'ARTICLE_PRICE' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr draggable="true" article="{{a}}" context-menu="menuOptions"
                ui-sref="app.article-management.detail({catId: category,id: a.id})" ng-repeat="a in displayedCollection">
                <td>{{ a.name }}</td>
                <td>{{ a.price }}</td>
            </tr>
            <tr ng-show="article.length == 0 && isInit">
                <td class="text-center" colspan="3">{{'ARTICLE_NONE_IN_LIST' | translate }}</td>
            </tr>
            <tr ng-show="!isInit">
                <td class="text-center" colspan="3">{{'ARTICLE_PLEASE_CHOOSE' | translate }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="15" st-displayed-pages="10"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>