<div ng-controller="AdminCtrl">
    <form name="form">
        <h3>
            <span>{{'USER_EDIT' | translate}}</span>
        </h3>
        <md-content class="md-padding login-body" layout="column" flex-xs-auto flex-sm="70" flex-gt-sm="50">
            <md-input-container class="md-block" flex-gt-sm>
                <label for="name">{{'SYS_NAME' | translate }}</label>
                <input type="text" name="name" id="name" ng-minlength="5" ng-maxlength="255" ng-model="userToEdit.name" required />
                <div ng-messages="form.name.$error">
                    <div ng-message="required">{{'ERROR_REQUIRED' | translate }}</div>
                    <div ng-message="minlength">{{'ERROR_TOO_SHORT' | translate }}</div>
                    <div ng-message="maxlength">{{'ERROR_TOO_LONG' | translate }}</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label for="mailAddress">{{'SYS_EMAIL' | translate }}</label>
                <input type="email" name="mailAddress" id="mailAddress" ng-maxlength="255" ng-model="userToEdit.mailAddress" required />
                <div ng-messages="form.mailAddress.$error">
                    <div ng-message="email">{{'ERROR_EMAIL_INVALID' | translate }}</div>
                    <div ng-message="required">{{'ERROR_REQUIRED' | translate }}</div>
                    <div ng-message="maxlength">{{'ERROR_TOO_LONG' | translate }}</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label for="secretQuestion">{{'SYS_SECRET_QUESTION' | translate }}</label>
                <input type="text" name="secretQuestion" id="secretQuestion" ng-maxlength="255" ng-model="userToEdit.secretQuestion" required />
                <div ng-messages="form.secretQuestion.$error">
                    <div ng-message="required">{{'ERROR_REQUIRED' | translate }}</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label for="secretAnswer">{{'SYS_SECRET_ANSWER' | translate }}</label>
                <input type="text" name="secretAnswer" id="secretAnswer" ng-maxlength="255" ng-model="userToEdit.secretAnswer" required />
                <div ng-messages="form.secretAnswer.$error">
                    <div ng-message="required">{{'ERROR_REQUIRED' | translate }}</div>
                </div>
            </md-input-container>
            <md-input-container>
                <md-checkbox ng-model="changePassword" class="green-checkbox">{{'USER_PW_CHANGE' | translate }}</md-checkbox>
            </md-input-container>
            <md-input-container ng-show="changePassword" class="md-block" flex-gt-sm>
                <label for="newPassword">{{'SYS_PASSWORD' | translate }}</label>
                <input type="password" name="newPassword" id="newPassword" ng-minlength="8" ng-model="userToEdit.newPassword" ng-required="changePassword" />
                <div ng-messages="form.newPassword.$error">
                    <div ng-message="required">{{'ERROR_REQUIRED' | translate }}</div>
                    <div ng-message="minlength">{{'ERROR_TOO_SHORT' | translate }}</div>
                </div>
            </md-input-container>
            <md-input-container ng-show="changePassword" class="md-block" flex-gt-sm>
                <label for="newPasswordRepeat">{{'SYS_PASSWORD_REPEAT' | translate }}</label>
                <input type="password" name="newPasswordRepeat" id="newPasswordRepeat" ng-required="changePassword" ng-model="userToEdit.newPasswordRepeat" compare-to="userToEdit.newPassword" />
                <div ng-messages="form.newPasswordRepeat.$error">
                    <div ng-message="required">{{'ERROR_REQUIRED' | translate }}</div>
                    <div ng-message="compareTo">{{'ERROR_PASSWORD_MATCH' | translate }}</div>
                </div>
            </md-input-container>
            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <md-button ng-click="updateUserWithAdminRights()" ng-disabled="form.$invalid || dataLoading" class="md-raised md-primary orange-button">{{'SYS_SAVE' | translate }}</md-button>
                <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <a ui-sref="app.admin.user.list">{{'SYS_CANCEL' | translate }}</a>
            </section>
        </md-content>
    </form>
</div>