<div class="col-md-7" ng-controller="UserCtrl">
    <md-toolbar class="md-table-toolbar md-default">
        <h3>
            <span>{{'USER_LIST' | translate}}</span>
        </h3>
    </md-toolbar>

    <table st-table="displayedUsers" st-safe-src="users" class="table table-striped">
        <thead>
            <tr>
                <th class="col-md-4 sortable" st-sort="name">{{'SYS_NAME' | translate}}</th>
                <th class="col-md-4 sortable" st-sort="mailAddress">{{'SYS_EMAIL' | translate}}</th>
                <th class="col-md-1 sortable" st-sort="role">{{'SYS_ROLE' | translate}}</th>
            </tr>
            <tr>
                <th colspan="5"><input st-search="" class="form-control" placeholder="{{'SYS_SEARCH_TERM' | translate}}" type="text" /></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in displayedUsers">
                <td>{{user.name}}</td>
                <td>{{user.mailAddress}}</td>
                <td>{{user.role}}</td>
                <td>
                    <div class="text-right">
                        <button title="{{'USER_REMOVE_ADMIN' | translate}}" type="button" ng-show="user.isAdmin" ng-click="removeAdminRights(user)" class="btn btn-sm btn-primary">
                            <i class="material-icons">person</i>
                        </button>
                        <button title="{{'USER_MAKE_ADMIN' | translate}}" type="button" ng-hide="user.isAdmin" ng-click="makeAdmin(user)" class="btn btn-sm btn-warning">
                            <i class="material-icons">stars</i>
                        </button>
                        <button type="button" ng-click="editUser(user)" class="btn btn-sm btn-success">
                            <i class="material-icons">edit</i>
                        </button>
                        <button type="button" ng-click="deleteUser(user)" class="btn btn-sm btn-danger">
                            <i class="material-icons">delete</i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>